@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    font-family: Roboto, 'Courier New', Courier, monospace;
    color: white;
}

html,
body {
    display: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #020617;
}

#main-content {
    height: 600px;
    width: 900px;
    display: grid;
    grid-template: 1fr 6fr/2fr 5fr;
    background-color: #1e1b4b;
    border-radius: 1em;
    overflow-y: auto;
}

.todo-header {
    grid-area: 1/2/2/-1;
    background-color: #312e81;
    border-radius: 0 1em 0 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    .header-title {
        font-weight: 700;
        font-size: xx-large;
        margin-left: 0.5em;
    }
}

.project-container,
.todo-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1em;
    padding: 2em;
}

.project-header {
    grid-area: 1/1/2/2;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 2em;
    background-color: #0c4a6e;
    border-radius: 1em 0 0 0;
}

.project-container {
    grid-area: 2/1/-1/2;
    background-color: #3730a3;
    border-radius: 0 0 0 1em;
}

.todo-container {
    grid-area: 2/2/-1/-1;
}

.project-container .project-item,
.todo-container .todo-item {
    padding: 1em;
    border-radius: 1em;
    cursor: pointer;
}

.project-container .project-item {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: space-between;
    align-items: center;

    background-color: #1e1b4b;

    .project-title {
        margin-left: auto;
    }
}

.todo-container .todo-item {
    display: flex;
    z-index: 2;
    justify-content: space-between;
    align-items: center;

    background-color: #5b21b6;

    .todo-title {
        margin-left: 1em;
        margin-right: auto;
    }
}

.project-container .project-item .project-delete-icon,
.todo-container .todo-item .todo-delete-icon {
    content: '';
    display: block;
    height: 1.5em;
    width: 1.5em;
    background-image: url('../assets/icon/ic_cancel.svg');
    background-position: initial;
    background-size: initial;
    background-repeat: initial;
    fill: white;
}

.todo-dialog {
    display: grid;
    grid-template: repeat(4, 1fr)/repeat(3, 1fr);
    align-items: center;
    justify-items: center;

    border-radius: 15px;
    position: fixed;
    top: 25%;
    z-index: 10;
    transform: translateX(-50%);
    left: 50%;

    width: 500px;
    height: 300px;
    padding: 2em;
    border-color: transparent;
    border-radius: 2em;
    background-color: #1e3a8a;

    .todo-dialog-title {
        font-weight: 700;
        font-size: large;
        grid-area: 1/1/2/2;
    }

    .todo-dialog-due-date {
        font-style: italic;
        font-weight: 600;
        grid-area: 1/2/2/3;
    }

    .todo-dialog-priority {
        grid-area: 1/3/2/-1;
    }

    .todo-dialog-description {
        grid-area: 2/1/3/-1;
    }

    .todo-dialog-memo {
        font-weight: 300;
        grid-area: 3/1/4/-1;
    }

    .todo-dialog-close-button {
        width: 300px;
        padding: 0.5em 2em;
        grid-area: 4/1/-1/-1;
    }
}


/*Checkbox*/
input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: white;
    /* Not removed via appearance */
    margin: 0;

    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;

    &::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        transform: scale(0);
        transform-origin: bottom left;
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em var(rebeccapurple);
        /* Windows High Contrast Mode */
        background-color: CanvasText;
    }

    &:checked::before {
        transform: scale(1);
    }
}